<!DOCTYPE html>
<html>
  {% include head.html %}

  {% capture template %}
    {% if page.post_class %}
      {{ page.post_class }}
    {% elsif layout.post_class %}
      {{ layout.post_class }}
    {% elsif page.post_class == nil %}
      {% if paginator.page != 1 %}
        archive-template
      {% else %}
        home-template
      {% endif %}
    {% endif %}
  {% endcapture%}

  <body class="{{ template | strip }} nav-closed">
    {% include navigation.html %}

    <div class="site-wrapper">
      {% include header.html header_class=layout.header_class %}

      {{ content }}

      {% include footer.html %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl }}"></script>
    {% if site.analytics %}{% include analytics.html %}{% endif %}

    <noscript id="deferred-styles">
      <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | prepend: site.baseurl }}?2017031803">
      <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}?2017031803">
    </noscript>
    <script>
        var loadDeferredStyles = function() {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
  </body>
</html>
